.App {
  margin: 0;
  background-color: white;
  min-height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.globalMsg {
  text-align: center;
  background-color: rgba(28, 26, 26, 0.853);
  color: white;
  padding: 5px;
  min-width: 100vw;
}

/* header*/
.header {
  background-color: antiquewhite;
}
.header-link {
  color: black;
  position: relative;
}
.dropdown-toggle::after {
  display: none;
}

.nav-head {
  background-color: antiquewhite;
  color: white !important;
  margin: 0;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
}

.fa-header {
  padding: 10px;
}
.fa-cart-header {
  border: 1px solid rgba(128, 128, 128, 0.386);
  border-radius: 10px;
  padding: 12px;
}
.searchBar {
  border: 1px solid rgba(128, 128, 128, 0.985);
  border-radius: 40px;
  color: black;
}
.searchBar:hover {
  border: 1px solid blue;
}

/* main page  */
.mainPage {
  min-height: 100vh;
  margin: 0;
}
.footer {
  border-top: 1px solid grey;
  padding-top: 20px;
}
.footer-icon {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 6px;
  margin: 5px;
}
.footer-icon:hover {
  background-color: rgb(110, 110, 128);
}
.f-last {
  background-color: rgba(106, 111, 111, 0.599);
}
/* slideshow */
.caption-area {
  background-color: rgba(37, 191, 222, 0.274);
  padding-bottom: 20px;
  clip-path: ellipse(50% 100% at 50% 0%);
  margin-bottom: 20p;
}

/* card  */
.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.482);
}

.cardButton1 {
  width: 100%;
  background: white;
  color: black;
  border: 1px solid grey;
  outline: none;
}

.cardButton:hover {
  background-color: rgba(219, 21, 21, 0.881) !important;
  border: 1px solid rgba(128, 128, 128, 0.482);
}
/* banner */
.banner {
  width: 80%;
  background-color: rgb(219, 141, 163);
  background: black;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.banner-button {
  width: 80%;
}
.sticky-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
}
.scroller {
  padding-top: 210px; /* height of the fixed header */
}
@media (max-width: 768px) {
  .scroller {
    padding-top: 210px; /* adjust the padding for smaller screens */
  }
}

/* public layout */
.public-header {
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  color: rgb(41, 97, 29);
  text-align: center;
  padding: 20px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
